@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Montserrat:400,600|Roboto+Condensed:400,700&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Great Vibes', cursive;
*/

@font-face {
  font-family: "themestudio";
  src:url("../fonts/themestudio.eot");
  src:url("../fonts/themestudio.eot?#iefix") format("embedded-opentype"),
    url("../fonts/themestudio.woff") format("woff"),
    url("../fonts/themestudio.ttf") format("truetype"),
    url("../fonts/themestudio.svg#kunggroup") format("svg");
  font-weight: normal;
  font-style: normal;

}
[data-icon]:before {
  font-family: "themestudio" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ts-"]:before,
[class*=" ts-"]:before {
  font-family: "themestudio" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ts-angle-down:before {
  content: "\61";
}
.ts-angle-left:before {
  content: "\62";
}
.ts-angle-right:before {
  content: "\63";
}
.ts-angle-up:before {
  content: "\64";
}
.ts-bars:before {
  content: "\65";
}
.ts-android-close:before {
  content: "\66";
}
.ts-android-done:before {
  content: "\67";
}
.ts-android-add:before {
  content: "\68";
}
.ts-android-more-vertical:before {
  content: "\69";
}
.ts-android-more-horizontal:before {
  content: "\6a";
}
.ts-android-remove:before {
  content: "\6b";
}
.ts-android-radio-button-off:before {
  content: "\6c";
}
.ts-android-radio-button-on:before {
  content: "\6d";
}
.ts-android-checkbox-outline:before {
  content: "\6e";
}
.ts-android-checkbox-outline-blank:before {
  content: "\6f";
}
.ts-android-checkbox-blank:before {
  content: "\70";
}
.ts-android-checkbox:before {
  content: "\71";
}
.ts-person-stalker:before {
  content: "\72";
}
.ts-person:before {
  content: "\73";
}
.ts-phone:before {
  content: "\74";
}
.ts-facebook-squared:before {
  content: "\75";
}
.ts-instagram-logo:before {
  content: "\76";
}
.ts-linkedin-square:before {
  content: "\77";
}
.ts-email-envelope:before {
  content: "\78";
}
.ts-quote-right:before {
  content: "\79";
}
.ts-quote-left:before {
  content: "\7a";
}
.ts-android-arrow-back:before {
  content: "\41";
}
.ts-android-arrow-forward:before {
  content: "\42";
}
.ts-bell:before {
  content: "\43";
}
.ts-search:before {
  content: "\44";
}
.ts-letter-mail-1:before {
  content: "\46";
}
.ts-pin-alt:before {
  content: "\45";
}
.ts-trash-o:before {
  content: "\47";
}
.ts-edit-pen-1:before {
  content: "\48";
}
.ts-eye:before {
  content: "\49";
}
.ts-heart-o:before {
  content: "\4a";
}
.ts-heart:before {
  content: "\4b";
}

/* ------ Page setting scss ------ */
/* -----------------------------------------------------------------------
	*********************** Page settings ***********************
  ------------------------------------------------------------------------ */
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
    scroll-behavior: smooth;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote::before,
  blockquote::after,
  q::before,
  q::after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  html{
    height: 100%;
    width: 100%;
      body {
        background: rgb(58,132,222);
        background: -moz-linear-gradient(45deg,  rgb(58,132,222) 0%, rgb(62,182,222) 57%, rgb(62,184,222) 100%);
        background: -webkit-linear-gradient(45deg,  rgb(58,132,222) 0%,rgb(62,182,222) 57%,rgb(62,184,222) 100%);
        background: linear-gradient(45deg,  rgb(58,132,222) 0%,rgb(62,182,222) 57%,rgb(62,184,222) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a84de', endColorstr='#3eb8de',GradientType=1 );
        color: #333;
        font-family: 'Montserrat', sans-serif;
        user-select: none;
        cursor: default;
        font-size: 14px;
        line-height: 18px;
        font-display: swap;
        height: 100%;
        width: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
  }
  * {
    margin: 0;
    padding: 0;
  }
  #root{
      display: flex;
      flex-grow: 1;
  }
  .c-pageWrapper{
      display: flex;
      position: relative;
      height: calc(100% - 150px);
      width: 100%;
      padding-top: 150px;
  }

