@import '../../assets/scss/ThemeColors';
@import '../../assets/scss/mixins';

.c-cardItem{
    box-sizing: border-box;
    border: 0;
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    background-color:$white;
    @include rounded-corners(3px);
    @include box-shadow(0 0 2px #999);

    .cardHeader{
        display: block;
        padding: 0 0 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #eee;
            .cardTitle{
                display: block;
                color: $gray-555;
                font-size: 12px;
                font-weight: 600;
            }

            .btnRemove{
                background-color: #dedede;
                    .MuiSvgIcon-root{
                        color: #a7a7a7;
                    }
            }
    }
    .cardBody{
        .cardDesc{
            display: block;
            color: $gray-555;
            font-size: 12px;
            font-weight: 500;
        }
    }
}